<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" scanPeriod="15 seconds">

    <!-- #############################################################################
                        Standard out log (console)
         ############################################################################# -->
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <!-- encoders are by default assigned the type ch.qos.logback.classic.encoder.PatternLayoutEncoder -->
        <encoder>
            <charset>UTF-8</charset>
            <pattern>%d{HH:mm:ss.SSS}\t%-5level\t%logger{36}:\t%msg%n</pattern>
        </encoder>
    </appender>

    <!--
        <logger name="no.vegvesen.brutus" level="ALL" />
        <logger name="org.hibernate.type" level="TRACE" />
    -->
    <logger name="org.hibernate.SQL" level="ALL" />
    <root level="info">
        <appender-ref ref="STDOUT" />
    </root>
</configuration>
